<div class="popupWrap" id="popup" style="display: none">
  <div class="mask"></div>
  <div class="popupContainer">
    <img class="popupClose" src="../assets/images/close.png" alt="">
    <div class="titleBox">
      <i class="line1"></i>
      <i class="line2"></i>
      <span>爲你精選熱門書籍</span>
      <i class="line2"></i>
      <i class="line1"></i>
    </div>

    <div class="popupImgBox">
      <figure class="imgItem">
        <img src="../assets/images/test.png" alt="">
        <figcaption class="title">開局女魔頭負了我紫薯多...</figcaption>
      </figure>
      <figure class="imgItem">
        <img src="../assets/images/test.png" alt="">
        <figcaption class="title">我在武俠遊戲裏修仙</figcaption>
      </figure>
      <figure class="imgItem">
        <img src="../assets/images/test.png" alt="">
        <figcaption class="title">校園暴漏</figcaption>
      </figure>
    </div>
    <img class="ornamentLeft" src="../assets/images/pic.png" alt=""/>
    <img class="ornamentRight" src="../assets/images/pic.png" alt=""/>
  </div>
</div>
