* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 52px;
}
html, body, #app {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

body {
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

#app {
  padding: 0.35rem 0.32rem;
  background-color: #FFFFFF;
  height: auto;
  min-height: 100%;;
}

.container {
  font-size: 0;
  overflow-y: auto;
  padding-bottom: 2rem;

  h1 {
    font-size: 0.42rem;
    font-weight: 500;
    color: #27292A;
    line-height: 0.59rem;
  }

  .img-box {
    margin: 0.24rem 0 0.48rem;

    img {
      width: 100%;
      height: 3.66rem;
    }

    .imgTitle {
      margin-top: 0.08rem;
      font-size: 0.35rem;
      font-weight: 500;
      color: #F55031;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .intro {
    font-size: 0.36rem;
    color: #27292A;
    line-height: 0.56rem;
    word-break: break-word;
  }

  .footerTitleBox {
    display: flex;
    justify-content: center;
  }
  .footerTitle {
    margin-top: 0.48rem;
    display: flex;
    align-items: center;
    height: 0.48rem;
    padding: 0 0.24rem;
    background: rgba(255,208,112,0.34);
    border-radius: 0.24rem;
    span {
      display: inline-block;
      width: 0.24rem;
      height: 0.26rem;
      margin-right: 0.16rem;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAA0CAMAAAD7TUujAAAAAXNSR0IArs4c6QAAAEhQTFRFAAAA9lI39lEx9VEy9VEx9VAx9VQz9VU09Vc1929B+IVO+IZN+IdP+YpQ+6lh+6pg+69k+7Jl/MBt/tJ2/tt7/tt8/t99/999Ar7OqAAAAAV0Uk5TABym5u3TzgXrAAAAg0lEQVRIx+3WuQ7CQAwEUB87kADLkUDm//+UIqIBrM12CHkqy/KTXI6ImuMjfMu6dVMRLcBWABQVQw+AifcBF/QBJEiQ4GfAcjkvG8GdJKcRGCeSfDTBlZyP63iYyVsT7GsdXvNwqrsmiJMgQYI/A95370H9CWNBwYpSVL5XuOAfU3kCPylMzUI+m6EAAAAASUVORK5CYII=') no-repeat;
      background-size: cover;
    }
    .bookName {
      height: 0.4rem;
      font-size: 0.28rem;
      font-weight: normal;
      color: #27292A;
      line-height: 0.4rem;
      letter-spacing: -0.017rem;
      font-style: oblique;
    }
  }

  .footerTip {
    font-size: 0.32rem;
    padding-top: 0.32rem;
    text-align: center;

    .downloadText {
      height: 0.38rem;
      font-size: 0.38rem;
      margin: 0 0.32rem;
      font-weight: bold;
      line-height: 0.38rem;
      letter-spacing: -0.015rem;
      text-align: center;
    }
    .handImg {
      width: 5.1rem;
      height: 0.5rem;
      margin-top: 0.48rem;
    }
  }

}

.downloadBtn {
  position: fixed;
  bottom: 0.2rem;
  width: 6.4rem;
  height: 0.88rem;
  left: calc(50% - 3.2rem);
  z-index: 99;
  border-radius: 0.44rem;
  font-size: 0.32rem;
  font-weight: 500;
  color: #FFFFFF;
  letter-spacing: 0.02rem;
  background-color: #FF6033;
  border: none;
  animation-name: popupShow;
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
}

.popupWrap {
  position: fixed;
  width: 102vw;
  height: 102vh;
  left: -1vw;
  top: -1vh;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: popupShow;
  animation-duration: 300ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;

  .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1;
  }

  .popupContainer {
    padding: 0.8rem 0.36rem;
    width: 6.24rem;
    height: 6.04rem;
    background-color: #FFF4F0;
    box-shadow: 0 0.16rem 0.64rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.16rem;
    border: 1px solid #DADADA;
    overflow: hidden;
    position: relative;
    z-index: 9;

    .popupClose {
      width: 0.24rem;
      height: 0.24rem;
      position: absolute;
      top: 0.32rem;
      right: 0.32rem;
      z-index: 10;
    }

    .ornamentLeft, .ornamentRight {
      width: 1.14rem;
      height: 1.18rem;
      position: absolute;
      bottom: 0;
      z-index: 1;
    }

    .ornamentLeft {
      left: 0;
    }

    .ornamentRight {
      right: 0;
      transform: rotate(270deg);
    }

    .titleBox {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 0.4rem;

      .line1, .line2 {
        display: inline-block;
        width: 0.08rem;
        height: 0.24rem;
        background-color: #FFE656;
        border-radius: 0.04rem;
      }

      .line2 {
        height: 0.32rem;
        background-color: #FF6033;
        margin: 0 0.06rem;
      }

      span {
        display: inline-block;
        font-size: 0.40rem;
        font-weight: 500;
        color: #27292A;
        padding: 0 0.1rem;
      }
    }

    .popupImgBox {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .popupImgItem {
        font-size: 0;
        width: 1.84rem;
        padding: 0 0.12rem;
        position: relative;

        .popupItemMark {
          width: 1.84rem;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 9;
        }

        img {
          width: 100%;
          height: 2.12rem;
          border-radius: 0.04rem;
          border: 1px solid rgba(0, 0, 0, 0.1);
          margin-bottom: 0.16rem;
          overflow: hidden;
          background-color: #FFE8DF;
        }

        .title {
          font-size: 0.24rem;
          font-weight: 400;
          color: #27292A;
          line-height: 0.36rem;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
      }

    }
  }
}

@keyframes popupShow {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
